<div class="container">
	<div class="row">
		<h1>All My Tutorials</h1>

		

	</div>
	<div class="row">
		<div class="card" style="width: 18rem;">
		  <%= image_tag 'jsDOMcc.png', class: 'card-img-top' %>
		  <div class="card-body">
		    <h5 class="card-title">Javascript DOM Crash Course</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

				<div class="btn-group" role="group" aria-label="Basic example">
		    <%= link_to 'See Tutorial', tutorials_js_jsDomCC_path, class: 'btn btn-secondary btn-primary' %>
		    <%= link_to 'GitHub Repo', "https://github.com/", class: 'btn btn-secondary btn-success', target: '_blank' %>
				</div>		    
		  </div>
		</div>
		<div class="card" style="width: 18rem;">
		  <%= image_tag 'http://via.placeholder.com/350x250', class: 'card-img-top' %>
		  <div class="card-body">
		    <h5 class="card-title">Treehouse Javascript</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

				<div class="btn-group" role="group" aria-label="Basic example">
		    <%= link_to 'See Tutorial', tutorials_js_treehouseJSBasic_path, class: 'btn btn-secondary btn-primary' %>
		    <%= link_to 'GitHub Repo', "https://github.com/", class: 'btn btn-secondary btn-success', target: '_blank' %>
				</div>		    
		  </div>
		</div>		
		<div class="card" style="width: 18rem;">
		  <%= image_tag 'jqueryBasics.png', class: 'card-img-top' %>
		  <div class="card-body">
		    <h5 class="card-title">Treehouse jQuery Basics</h5>
		    <p class="card-text">Mobile menu, picture gallery lightbox, spoiler revealer, password confirmation</p>

				<div class="btn-group" role="group" aria-label="Basic example">
		    <%= link_to 'See Tutorial', tutorials_js_treejquery_path, class: 'btn btn-secondary btn-primary' %>
		    <%= link_to 'GitHub Repo', "https://github.com/", class: 'btn btn-secondary btn-success', target: '_blank' %>
				</div>		    
		  </div>
		</div>			
		<div class="card" style="width: 18rem;">
		  <%= image_tag 'http://via.placeholder.com/350x250', class: 'card-img-top' %>
		  <div class="card-body">
		    <h5 class="card-title">Treehouse jQuery Plugins</h5>
		    <p class="card-text">Showed Sticky, Slick Carousel, Animsition plugins and where to find other ones</p>

				<div class="btn-group" role="group" aria-label="Basic example">
		    <%= link_to 'See Tutorial', tutorials_js_jqueryplugins_path, class: 'btn btn-secondary btn-primary animsition-link' %>
		    <%= link_to 'GitHub Repo', "https://github.com/", class: 'btn btn-secondary btn-success', target: '_blank' %>
				</div>		    
		  </div>
		</div>		
		<div class="card" style="width: 18rem;">
		  <%= image_tag 'jquerycrash.png', class: 'card-img-top' %>
		  <div class="card-body">
		    <h5 class="card-title">Traversy jQuery Crash Course</h5>
		    <p class="card-text">We went through a lot of the jQuery methods: attr, wrap, animate, etc.</p>

				<div class="btn-group" role="group" aria-label="Basic example">
		    <%= link_to 'See Tutorial', tutorials_js_traversyjquerycrashcourse_path, class: 'btn btn-secondary btn-primary animsition-link' %>
		    <%= link_to 'GitHub Repo', "https://github.com/", class: 'btn btn-secondary btn-success', target: '_blank' %>
				</div>		    
		  </div>
		</div>								
	</div>	
</div>